//=====================
// Color Variables
//=====================

//WHITE

$color-white: #fff;

//BLACK

$color-black-1: #000;
$color-black-2: #161616;
$color-black-3: #0c161e;
$color-black-4: #222;
$color-black-5: #1e1e1e;
$color-black-6: #0c161c;
$color-black-7: #262626;
$color-black-8: #151f25;

//GREY

$color-grey-1: #333;
$color-grey-2: #3d4549;
$color-grey-3: #9ea2a4;
$color-grey-4: #666;
$color-grey-5: #868a8d;
$color-grey-6: #343b3f;
$color-grey-7: #252d32;
$color-grey-8: #aaa;
$color-grey-9: #444;
$color-grey-10: #808080;
$color-grey-11: #ccc;
$color-grey-12: #ddd;
$color-grey-13: #6e7478;
$color-grey-14: #979797;
$color-grey-15: #494949;
$color-grey-16: #e5e5e5;
$color-grey-17: #e8e9e9;
$color-grey-18: #d9d9d9;
$color-grey-19: #b6b9bb;
$color-grey-20: #fbfbfb;
$color-grey-21: #e6e6e6;
$color-grey-22: #909090;
$color-grey-23: #eee;

//YELLOW

$color-yellow-1: #f8fc00;
$color-yellow-2: #ced100;
$color-yellow-3: #f6e652;
$color-yellow-4: #ffde00;

//RED

$color-red-1: #f00;
$color-red-2: #e6463e;

$color-orange: #f09837;

$color-green: #56b42f;

$color-blue-1: #567ba1;
$color-blue-2: #2a6da2;
$color-blue-3: #4894d0;
$color-blue-4: #009cdf;
$color-blue-5: #0086bf;
$color-blue-6: #0a1b29;

$color-black: #050505;

$color-grey: #ffffff4d;
