.Search {
    margin-top: 20px;

    .searchInput {
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #dddddd;
        background: transparent;
        margin-right: 10px;
        width: 50%
    }

}
